@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap&subset=cyrillic');

h1, h2{
  font-family: 'Playfair Display', cursive;
}

body {
  text-align: center;
  background: rgb(181, 219, 210);
  color: black;
  margin: 0px 100px 0px 0px;
  padding: 100px 0px 0px 0px;
  font-family: 'Playfair Display', cursive; 
  }

h1 {
  font-size: 4rem;
}

form{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 20px solid whitesmoke;
  padding: 100px;
  margin-top: 10px;
  margin: 0 30%;
  background-color: rgba(170, 57, 123, 0.876);
}

form a{
  font-size: 20px;
  cursor: pointer;
  display: block;  
  text-decoration: none;
  color: black;
}