body {
  text-align: center;
  background: url(https://www.tokkoro.com/picsup/3301400-line-light-background.jpg);
  color: black;
  margin: 0px 100px 0px 0px;
  padding: 100px 0px 0px 0px;
  font-family: Georgia; 
  }
