<h1>New Programming Times</h1>

{% if error %}
<p>Account haven't found. Try Again.</p>
<a href = {{ url_for('index') }}> To Sign In</a>
{% endif %}

<form method = "POST">
    <p>E-Mail</p>
    <input 
        placeholder="Enter your email"
        type ="email"
        name ="email"
        required
    >
    <p>Password</p>
    <input 
        type="password"
        placeholder="Enter your password"
        name="password"
        required
    >
    <br>title
    <br>
    <input type="submit">
</form>

<a href = {{ url_for('index') }}>Create account</a>
